/* src/app/category/[slug]/category.module.css */

.container {
  --clr-background: #ffedd9;
  --clr-logo: #e7000b;
  --clr-button: #e7000b;
  --clr-button-hover: #bb020b;
  --clr-main-text: #e7000b;
  --clr-black: #000;
  width: 83%;
  max-width: 1250px;
  margin: 0 auto;
}

.categorySection {
  width: 100%;
}

.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 60px;
  background: var(--clr-background);
  border-radius: 20px;
  border: 1px solid #000;
  margin: 20px auto;
  min-height: 100px;
  margin-bottom: 30px;
}

.categoryTitle {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.subCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.subCategoryContainer::-webkit-scrollbar { display: none; }
.subCategoryContainer { -ms-overflow-style: none; scrollbar-width: none;  }

.articlesContainer {
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.articleCard {
  height: 100%;
  border-radius: 20px;
  border: 1px solid #000;
  background: var(--clr-background);
  overflow: hidden;
  padding: 40px;
  gap: 20px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articleImage {
  width: 100%;
  min-height: 400px;
  border-radius: 20px;
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.cardContent {
  flex: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.articleTitle {
  font-family: "Rachana", sans-serif;
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--clr-main-text);
  display: block;
  transition: color 0.3s;
}
.articleTitle:hover { color: var(--clr-button-hover); }

.articleDescription {
  font-family: "Rachana", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
  display: none;
  word-break: break-word;
  white-space: normal;
}

.articleMeta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.divider { color: #000; }
.date { color: rgba(0, 0, 0, 0.45); }

.articleCard:nth-child(1) {
  grid-column: span 4;
  flex-direction: row-reverse;
  gap: 40px;
  padding: 40px;
}
.articleCard:nth-child(1) .articleImage {
  width: 55%;
  height: 100%;
  aspect-ratio: auto;
  min-height: 350px;
}
.articleCard:nth-child(1) .cardContent {
  width: 50%;
  justify-content: space-between;
}
.articleCard:nth-child(1) .articleTitle {
  font-size: 50px;
  line-height: 1.1;
}

.articleCard:nth-child(1) .articleDescription {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
}

.articleCard:nth-child(2),
.articleCard:nth-child(9) { grid-column: span 2; }
.articleCard:nth-child(2) .articleImage,
.articleCard:nth-child(9) .articleImage { aspect-ratio: 57/22.5; }

.articleCard:nth-child(4) .articleImage,
.articleCard:nth-child(8) .articleImage { display: none; }

.articleCard:nth-child(4) .articleDescription,
.articleCard:nth-child(8) .articleDescription {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
}

.articleCard:nth-child(7) { grid-column: 4; }

.seeMoreSection { margin: 40px auto; height: 80px; }
.seeMoreBtn {
  width: 100%; height: 100%;
  background: var(--clr-button);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px; font-weight: 600;
  border-radius: 15px; border: 1px solid #000;
  letter-spacing: 2px; transition: background 0.3s;
}
.seeMoreBtn:hover { background-color: var(--clr-button-hover); }

@media screen and (max-width: 1100px) {
  .articleCard { padding: 15px; }
  .articleTitle { font-size: 18px; }
}

@media screen and (max-width: 1000px) {
  .articlesContainer,
  .categoryHeader,
  .subCategoryContainer,
  .seeMoreSection {
    width: 93%;
  }
  .articleCard:nth-child(1) { flex-direction: column; height: auto; }
  .articleCard:nth-child(1) .articleImage { width: 100%; height: 300px; }
  .articleCard:nth-child(1) .cardContent { width: 100%; }
  .articleCard:nth-child(1) .articleTitle { font-size: 30px; }
}

@media (max-width: 800px) {
  .categoryTitle { font-size: 40px; }
  .articlesContainer { grid-template-columns: repeat(2, 1fr); }

  .articleCard:nth-child(1) { grid-column: span 2; }
  .articleCard:nth-child(2) { grid-column: span 2; }
  .articleCard:nth-child(9) { grid-column: span 2; }

  .articleCard:nth-child(7) { grid-column: auto; }
}

@media screen and (max-width: 500px) {
  .articlesContainer { grid-template-columns: 1fr; }
  .articleCard:nth-child(1),
  .articleCard:nth-child(2),
  .articleCard:nth-child(9) { grid-column: span 1; }
}
