@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Rachana";
  src: url("/fonts/Rachana.ttf");
}

:root {
  --background: #ffedd9;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.local-font-rachana {
  font-family: "Rachana", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

img {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

@layer components {
  .article-content p {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    color: #000;
    text-indent: 30px;
  }

  @media (max-width: 1000px) {
    .article-content p {
      font-size: 23px;
      line-height: 33px !important;
      text-indent: 2px;
    }
  }

  @media (max-width: 700px) {
    .article-content p {
      font-size: 20px;
      line-height: 30px !important;
      text-indent: 2px;
    }
  }

  .article-content img {
    width: 1100px;
    max-width: none;
    height: auto;
    display: block;
    border-radius: 20px;
    outline: 1px solid black;
    outline-offset: 20px;
    margin: 40px 0 40px -220px;
  }
}
