@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'Rachana';
  src: url('/fonts/Rachana.ttf');
}

:root {
  --background: #ffedd9;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.local-font-rachana {
  font-family: 'Rachana', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

img {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.article-content p {
  margin-bottom: 24px;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  color: #000;
  text-indent: 30px;
}

.article-content img {
  width: 1100px;
  max-width: none;
  height: auto;
  display: block;
  border-radius: 20px;
  outline: 1px solid black;
  outline-offset: 20px;
  margin: 40px 0 40px -220px;
}